.popup__input_type_name{
    width: 358px;
    height: 27px;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-bottom: 30px;
    margin-left: 36px;
    font-size: 14px;
    line-height: 17px;
    font-family: "Inter", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  @media all and (max-width: 425px) {
    .popup__input_type_name {
        max-width: 180px;
    }
  }
      