.elements__like {
    background-image: url(../../../images/like_button.svg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
    border: none;
    outline: none;
    transition: opacity .5s linear;
    min-width: 20px;
    min-height: 18px;
    padding: 0;
    border: 0;
    margin-right: 21px;
    cursor: pointer;
    grid-row: 5/5;
    grid-column: 2/2;
    justify-self: end;
    z-index: 2;
}
.cards__like:hover {
    opacity: 0.6;
}