.template {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    margin: auto;
    margin-top: 47px;
    row-gap: 21px;
    column-gap: 18px;
    justify-content: center;
    margin-bottom: 0;
}
@media screen and (max-width: 929px) {
    .template {
        grid-template-columns: repeat(2, 282px);
    }
}
@media screen and (max-width: 619px) {
    .template {
        grid-template-columns: repeat(1, 282px);
    }
}
