.popup__save-button {
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 358px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 36px;
  margin-left: 36px;
  cursor: pointer;
  border: 0;
  padding: 0;
}
.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media all and (max-width: 425px) {
  .popup__save-button {
      width: 180px;
  }
}
