.profile__add-button{
    background-image: url(../../../images/add_button.png);
    display: flex;
    justify-self: end;
    margin-left: auto;
    width: 150px;
    height: 50px;
    border-color: rgb(255, 255, 255);
    background-color: #000000;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 425px)
{
    .profile__add-button {
        max-width: 282px;
        width: 100%;
        margin: 0 auto;
        margin-top: 36px;
    }
}